@import "../../styles/styles.scss";

.contact-form {
  max-width: 450px;
  padding: 40px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);

  form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 50px;

    @include for-phone-only {
      padding: 0.5rem;
    }

    .form-control {
      display: flex;
      gap: 15px;
      align-items: center;

      :global(.MuiSvgIcon-root) {
        color: grey;
      }
    }

    :global(.MuiFormControl-root) {}

    button {
      background-image: linear-gradient(147deg, #fe8a39 0%, #FECC3F 74%);
    }
  }
}