/* Intro */
.intro {
  height: 100vh;
  position: relative;
  padding-top: 120px;

  :global(.MuiContainer-root) {
    height: 100%;
  }

  .content {
    position: relative;
    top: 25%;
    left: 10%;
  }

  .presentation-block {
    width: 75%;
    height: fit-content;
    position: relative;

    .title {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 115px;

      .block {
        width: 0%;
        height: 250px;
        height: inherit;
        background: #FECC3F;
        position: absolute;
        animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        display: flex;
      }
      
      h1 {
        font-family: 'Poppins';
        color: #fff;
        -webkit-animation: mainFadeIn 2s forwards;
        -o-animation: mainFadeIn 2s forwards;
        animation: mainFadeIn 2s forwards;
        animation-delay: 1.6s;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative;

        span {
          width: 0px;
          height: 100%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          background: #FECC3F;
          -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
          animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
          animation-delay: 2s;

         
        }
      }
    }
    
    .role {
      width: 100%;
      height: 50px;
      position: relative;
      display: flex;
      align-items: center;
      // margin-top: -10px;

      .block {
        width: 0%;
        height: inherit;
        background: antiquewhite;
        position: absolute;
        animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        animation-delay: 2s;
        display: flex;
      }

      p {
        animation: secFadeIn 2s forwards;
        animation-delay: 3.2s;
        opacity: 0;
        font-weight: 400;
        font-family: 'Lato';
        color: #ffffff;
        font-size: 50px;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
    }
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #FECC3F;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 17px;
    height: 17px;
    background: #FECC3F;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 15px;
    height: 15px;
    bottom: 0px;
  }
  80% {
    width: 17px;
    height: 17px;
    bottom: 20px
  }
  100% {
    width: 15px;
    height: 15px;
    background: #FECC3F;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.bg-intro-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* About Company */
.about-company {
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
  overflow: hidden;
  
  &-behind-title {
    position: absolute;
    top: -40px;
    left: 15px;
    font-size: 270px;
    opacity: 0.05;
    white-space: nowrap;
  }
  
  &-intro-block {}

  &-mission-block {}

  &-images-block {
    position: relative;
    
    &-image {
      top: 30px;
      left: 0;
      z-index: 2;
      border-radius: 25px;
    }

    &-square {
      position: absolute;
      top: 70px;
      left: 35px;
      z-index: 1;
      background-color: #FECC3F;
      border-radius: 25px;
    }

    &-dots-grid {
      position: absolute;
      left: -100px;
      bottom: -400px;
      z-index: 0;
    }

    &-dots-grid-second {
      position: absolute;
      top: 35px;
      right: -65px;
      z-index: 0;  
    }

    &-dots-grid-third {
      position: absolute;
      top: 160px;
      right: -520px;
      z-index: 0;
    }
  }

  &-target-block {
    margin-top: 100px;
  }
}


// @media (max-width: 768px) {
//   .about-company {
//     padding-top: 0;
//   }
// }

/* Projects */
.projects {
  display: flex;
  align-items: center;
  position: relative;
  padding: 100px 0;
  height: 800px;
  background-color: antiquewhite;

  &-behind-title {
    position: absolute;
    top: -10px;
    left: 40px;
    font-size: 270px;
    opacity: 0.05;
    white-space: nowrap;
  }

  &-image-dots-grid {
    position: absolute;
    top: 35%;
    right: 10%;


  }
}

.swiper {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all .3s;
  overflow: inherit !important;

  :global(.swiper-wrapper) {}
  
  :global(.swiper-slide) {
    display: flex;
  }

  :global(.swiper-slide-active) {}
 
  :global(.swiper-pagination) {
    z-index: 21;
    right: 20px;
    padding: 0 10px;
    bottom: auto!important;
    transform: translateY(-50%);

    :global(.swiper-pagination-bullet) {
      width: 11px;
      height: 11px;
      display: block;
      border-radius: 10px;
      background: #062744;
      opacity: 0.2;
      transition: all .3s;
    }

    :global(.swiper-pagination-bullet-active) {
      opacity: 1;
      background: #fd3838;
      height: 30px;
      box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
    }
  }
}

.slider-card {
  display: flex;
  align-items: center;
  overflow: visible;
  border-radius: 25px;
  box-shadow: none;

  // Image
  &-image {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    border-radius: 20px;
    transform: translateX(-80px);

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
      border-radius: 20px;
      opacity: 0.8;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      opacity: 1;
      border-radius: 20px;
      transition: all .3s;
    }
  }
  // Content
  &-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 50px;

    > * {
      opacity: 1;
      transform: none;

      @for $i from 0 to 15 {
        &:nth-child(#{$i + 1}) {
          transition-delay: $i * 0.1 + 0.3s;
        }
      }
    }
    // Title
    &-title {
      font-weight: 600;
    }
    // Descriptin
    &-desc {}

    // Button Action
    &-btn {
      display: inline-flex;
      width: 200px;
      background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
      padding: 15px 35px;
      border-radius: 50px;
      color: #fff;
      box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
      text-decoration: none;
      font-weight: 500;
      justify-content: center;
      text-align: center;
      letter-spacing: 1px;
    }
  }
}

/* Services */
.services {
  position: relative;
  padding: 100px 0;

  &-behind-title {
    position: absolute;
    top: -50px;
    left: 0;
    font-size: 270px;
    opacity: 0.05;
    white-space: nowrap;
  }

  &-images-block {
    position: relative;

    &-image {
      z-index: 2;
      border-radius: 25px;
    }

    &-square {
      position: absolute;
      top: 35px;
      left: -20px;
      z-index: 1;
      border-radius: 25px;
      background-color: #FECC3F;
    }

    &-dots-grid {
      position: absolute;
      top: 70px;
      left: -60px;
      z-index: 0;
    }
  }
}